# Pandas Manipulating Data
Most of this notebook came from   
[the pandas Documentation](https://pandas.pydata.org/pandas-docs/stable/index.html)   
and  
(Real Python)[https://realpython.com/pandas-dataframe/#accessing-and-modifying-data]


#### Import the pandas
and set the sample data directory and filename

In [1]:
import pandas as pd

In [ ]:
# just check the directory and file are there
# !dir "../data"

In [2]:
# up one levels to topic03 and then down into data
datadir = "../data/"
people_filename=datadir+"people-100.csv"
timetable_filename = datadir+"timetable.tsv"

#### the timetable data
this is real anolymised data is a tab seperated format
<code>df = pd.read_csv(file, sep="\t")</code>
because it is real it has missing data and some data is that is in different formats

In [7]:
df= pd.read_csv(timetable_filename, sep="\t")
df.head(4)

,Department,Scheduled?,Name on sys,Name,Size,Module ID,Module,Duration,Named Availability,Number of Weeks,Staff (delimited),Name of Type,Location Suitabilities,Locations,Student Sets,Teaching week pattern
0,Mayo Campus,t,NURS06061 (General) and NURS06057 (Psych) Pra...,NURS06061 (General) and NURS06057 (Psych) Pra...,40,NURS06061 (General) and NURS06057 (Psych),NURS06061 (General) and NURS06057 (Psych) Inte...,4,MY_Week24 N2bii,1,"MacLeod, Julia",P,MY_SR_Any-Flat,NaN,NaN,0000000000000000000000010000000000000000000000...
1,Mayo Campus,t,NURS06060 Recovery Orientated care in mental h...,NURS06060 Recovery Orientated care in mental h...,18,NURS06060,NURS06060 Recovery Orientated care in mental h...,3,MY_a sem1,12,"Edmunds, Colin",OL,NaN,NaN,MY_SP_DIGI 1,0000111111111111000000000000000000000000000000...
2,Mayo Campus,t,ENVI07011-Nursing Learning to Learn-Nursing S...,ENVI07011-Nursing Learning to Learn-Nursing G,32,ENVI07011,ENVI07011 LEARNING AND INNOVATION SKILLS (Nurs...,2,MY__N_2 abc,7,"Carr, Isaac",OL,MY_SR_AnyAll+art,NaN,NURS_GA_SGENC_H080100 A/NURS_GA_SGENC_H080100 ...,0000000000000000000011111110000000000000000000...
3,Mayo Campus,t,LAWL08017 Building and Managing Interpersonal ...,LAWL08017 Building and Managing Interpersonal ...,0,LAWL08017,LAWL08017 Building and Managing Interpersonal ...,3,MY_DIGI sem1,3,"Jones, James",L,NaN,NaN,MY_SP_DIGI 1,0100010000100000000000000000000000000000000000...

#### selecting particular rows
<code>df.iloc[]</code> <code>df.loc[]</code>


in these examples loc and iloc return the same

In [4]:
#df.iloc[40:50]  # returns rows 40 to 50
#df.loc[[42,44]]  # returns rows 42 and 44
df.loc[[42,44],['Staff (delimited)']]  ## only return the staff column

                 Staff (delimited)
42  Carr, Connor/Marshall, Vanessa
44  Carr, Connor/Marshall, Vanessa

##### a more complicated example  
Find all the rows which have mulitple staff

In [6]:
#df[df['Staff (delimited)'].str.contains('/')]
cleandf= df.fillna(value=' ')
cleandf[cleandf['Staff (delimited)'].str.contains('/')]

,Department,Scheduled?,Name on sys,Name,Size,Module ID,Module,Duration,Named Availability,Number of Weeks,Staff (delimited),Name of Type,Location Suitabilities,Locations,Student Sets,Teaching week pattern
9,Mayo Campus,t,NURS06061 Practice Placement MAPA P/02,NURS06061 Biology in Mental Illness 1 MAPA,0,NURS06061 (General) and NURS06057 (Psych),NURS06061 Biology in Mental Illness 1,4,MY_Week04 N1aiii,1,"Burgess, Isaac/Wilkins, Wendy/Baker, Kevin/Har...",P,MYCV2_Skills_Nur,,NURS_GA_SPSYC_H080100 A/NURS_GA_SPSYC_H080100 B,0001000000000000000000000000000000000000000000...
42,Mayo Campus,t,MGMT07044 Personal and professional developmen...,MGMT07044 Personal and professional developmen...,30,MGMT07044,MGMT07044 Personal and professional developmen...,2,MY__N_1c special week,1,"Carr, Connor/Marshall, Vanessa",OL,MY_SR_Nur_Bio,,NURS_GA_SPSYC_H080200 A,0000000000100000000000000000000000000000000000...
44,Mayo Campus,t,MGMT07044 Personal and professional developmen...,MGMT07044 Personal and professional developmen...,30,MGMT07044,MGMT07044 Personal and professional developmen...,3,MY__N_1d,3,"Carr, Connor/Marshall, Vanessa",OL,MY_SR_Nur_Bio,,NURS_GA_SPSYC_H080200 A,0000000000011100000000000000000000000000000000...
52,Mayo Campus,t,NURS08047 Employment Law/Psychiatric Nursing P...,NURS08047 Employment Law/Management Report P,10,NURS08047,NURS08047 Employment Law/Management Report,4,MY_Week28 N2di,1,"Harris, Lily/Wilkins, Wendy/Baker, Kevin/Marsh...",P,MYCV2_Skills_Nur,MYC2_NLab-P102-Taffe/MYC2_NLab-Y011-N/Gale,NURS_GA_SPSYC_H080100 A/NURS_GA_SPSYC_H080100 B,0000000000000000000000000001000000000000000000...
54,Mayo Campus,t,NURS08047 Employment Law/Psychiatric Nursing P...,NURS08047 Employment Law/Management Report P,10,NURS08047,NURS08047 Employment Law/Management Report,4,MY_Week23 N2bi,1,"Harris, Lily/Wilkins, Wendy/Baker, Kevin/Marsh...",P,MYCV2_Skills_Nur,MYC2_NLab-P102-Taffe/MYC2_NLab-Y011-N/Gale,NURS_GA_SPSYC_H080100 A/NURS_GA_SPSYC_H080100 B,0000000000000000000000100000000000000000000000...
77,Mayo Campus,t,NURS06061 Practice Placement MH1/L/03,NURS06061 Biology in Mental Illness 1,0,NURS06061 (General) and NURS06057 (Psych),NURS06061 Biology in Mental Illness 1,4,MY_Week04 N1aiii,1,"MacLeod, Julia/Newman, Andrew",OL,MYCV2_SR_Nur+skills,,NURS_GA_SGENC_H080100 F,0001000000000000000000000000000000000000000000...
78,Mayo Campus,t,NURS06020 LAW AND ETHICS FOR PSYCHIATRIC NURSI...,NURS06020 LAW AND ETHICS FOR PSYCHIATRIC NURSI...,10,NURS06020,NURS06020 LAW AND ETHICS FOR PSYCHIATRIC NURSI...,4,MY__N postgrad S2 W2 site,1,"Jackson, Max/Clarkson, Peter",L,MYCV2_SR_AnyAll,MYC2_SR-P009-McManus,MY_SP_LM,0000000000000000000000001000000000000000000000...
80,Mayo Campus,t,NURS06020 LAW AND ETHICS FOR PSYCHIATRIC NURSI...,NURS06020 LAW AND ETHICS FOR PSYCHIATRIC NURSI...,10,NURS06020,NURS06020 LAW AND ETHICS FOR PSYCHIATRIC NURSI...,4,MY__N postgrad S2 W4 site,1,"Jackson, Max/Clarkson, Peter",L,MYCV2_SR_AnyAll,MYC2_SR-P009-McManus,MY_SP_LM,0000000000000000000000000000000010000000000000...
81,Mayo Campus,t,MGMT07037 (General) and NURS06057 (Psych) Inte...,MGMT07037 (General) and NURS06057 (Psych) Inte...,10,MGMT07037,MGMT07037 (General) and NURS06057 (Psych) Inte...,4,MY__N postgrad S2 W2 site,1,"Nolan, Stewart/Rutherford, Alexander",L,MYCV2_SR_AnyAll,MYC2_SR-P009-McManus,MY_SP_LM,0000000000000000000000001000000000000000000000...
82,Mayo Campus,t,MGMT07037 (General) and NURS06057 (Psych) Inte...,MGMT07037 (General) and NURS06057 (Psych) Inte...,10,MGMT07037,MGMT07037 (General) and NURS06057 (Psych) Inte...,4,MY__N postgrad S2 W3 site,1,"Nolan, Stewart/Rutherford, Alexander",L,MYCV2_SR_AnyAll,MYC2_SR-P009-McManus,MY_SP_LM,0000000000000000000000000001000000000000000000...
83,Mayo Campus,t,MGMT07037 (General) and NURS06057 (Psych) Inte...,MGMT07037 (General) and NURS06057 (Psych) Inte...,10,MGMT07037,MGMT07037 (General) and NURS06057 (Psych) Inte...,4,MY__N postgrad S2 W4 site,1,"Nolan, Stewart/Rutherford, Alexander",L,MYCV2_SR_AnyAll,MYC2_SR-P009-McManus,MY_SP_LM,00000000000

#### drop specific rows

<code>df.drop()</code>

In [8]:
df.drop([1,3])
df.head(4)

,Department,Scheduled?,Name on sys,Name,Size,Module ID,Module,Duration,Named Availability,Number of Weeks,Staff (delimited),Name of Type,Location Suitabilities,Locations,Student Sets,Teaching week pattern
0,Mayo Campus,t,NURS06061 (General) and NURS06057 (Psych) Pra...,NURS06061 (General) and NURS06057 (Psych) Pra...,40,NURS06061 (General) and NURS06057 (Psych),NURS06061 (General) and NURS06057 (Psych) Inte...,4,MY_Week24 N2bii,1,"MacLeod, Julia",P,MY_SR_Any-Flat,NaN,NaN,0000000000000000000000010000000000000000000000...
1,Mayo Campus,t,NURS06060 Recovery Orientated care in mental h...,NURS06060 Recovery Orientated care in mental h...,18,NURS06060,NURS06060 Recovery Orientated care in mental h...,3,MY_a sem1,12,"Edmunds, Colin",OL,NaN,NaN,MY_SP_DIGI 1,0000111111111111000000000000000000000000000000...
2,Mayo Campus,t,ENVI07011-Nursing Learning to Learn-Nursing S...,ENVI07011-Nursing Learning to Learn-Nursing G,32,ENVI07011,ENVI07011 LEARNING AND INNOVATION SKILLS (Nurs...,2,MY__N_2 abc,7,"Carr, Isaac",OL,MY_SR_AnyAll+art,NaN,NURS_GA_SGENC_H080100 A/NURS_GA_SGENC_H080100 ...,0000000000000000000011111110000000000000000000...
3,Mayo Campus,t,LAWL08017 Building and Managing Interpersonal ...,LAWL08017 Building and Managing Interpersonal ...,0,LAWL08017,LAWL08017 Building and Managing Interpersonal ...,3,MY_DIGI sem1,3,"Jones, James",L,NaN,NaN,MY_SP_DIGI 1,0100010000100000000000000000000000000000000000...

Hold on that did not drop anything
<code>inplace</code> parameter
of make a dataframe equal it.

In [9]:
df.drop([1,3], inplace=True)
#df= df.drop([1,3])
df.head(4)

,Department,Scheduled?,Name on sys,Name,Size,Module ID,Module,Duration,Named Availability,Number of Weeks,Staff (delimited),Name of Type,Location Suitabilities,Locations,Student Sets,Teaching week pattern
0,Mayo Campus,t,NURS06061 (General) and NURS06057 (Psych) Pra...,NURS06061 (General) and NURS06057 (Psych) Pra...,40,NURS06061 (General) and NURS06057 (Psych),NURS06061 (General) and NURS06057 (Psych) Inte...,4,MY_Week24 N2bii,1,"MacLeod, Julia",P,MY_SR_Any-Flat,NaN,NaN,0000000000000000000000010000000000000000000000...
2,Mayo Campus,t,ENVI07011-Nursing Learning to Learn-Nursing S...,ENVI07011-Nursing Learning to Learn-Nursing G,32,ENVI07011,ENVI07011 LEARNING AND INNOVATION SKILLS (Nurs...,2,MY__N_2 abc,7,"Carr, Isaac",OL,MY_SR_AnyAll+art,NaN,NURS_GA_SGENC_H080100 A/NURS_GA_SGENC_H080100 ...,0000000000000000000011111110000000000000000000...
4,Mayo Campus,t,LAWL08017 Building and Managing Interpersonal ...,LAWL08017 Building and Managing Interpersonal ...,0,LAWL08017,LAWL08017 Building and Managing Interpersonal ...,3,MY_a sem1,12,"Jones, James",OL,NaN,NaN,MY_SP_DIGI 1,0000111111111111000000000000000000000000000000...
5,Mayo Campus,t,NURS07058 psychiatric nursing 1 B2c/L/32,NURS07058 psychiatric nursing 1,35,NURS07058,NURS07058 psychiatric nursing 1,2,MY__N_2c,3,"Paige, Jennifer",OL,MY_SR_AnyAll+art,NaN,NURS_GA_SGENC_H080100 B/NURS_GA_SGENC_H080100 A,0000000000000000000000001110000000000000000000...

In [10]:
df.iloc[[2,4]]

,Department,Scheduled?,Name on sys,Name,Size,Module ID,Module,Duration,Named Availability,Number of Weeks,Staff (delimited),Name of Type,Location Suitabilities,Locations,Student Sets,Teaching week pattern
4,Mayo Campus,t,LAWL08017 Building and Managing Interpersonal ...,LAWL08017 Building and Managing Interpersonal ...,0,LAWL08017,LAWL08017 Building and Managing Interpersonal ...,3,MY_a sem1,12,"Jones, James",OL,NaN,NaN,MY_SP_DIGI 1,0000111111111111000000000000000000000000000000...
6,Mayo Campus,t,BUST07015 Fundamental Nursing Knowledge Skills...,BUST07015 Biological Science for Fundamental N...,50,BUST07015,BUST07015 Biological Science for Fundamental N...,2,MY_Week22 N2aiii,1,"Randall, Jason",OL,MY_SR_AnyAll+art,NaN,NURS_GA_SGENC_H080100 B/NURS_GA_SGENC_H080100 A,0000000000000000000001000000000000000000000000...

In [11]:
df.loc[[2,4]]

,Department,Scheduled?,Name on sys,Name,Size,Module ID,Module,Duration,Named Availability,Number of Weeks,Staff (delimited),Name of Type,Location Suitabilities,Locations,Student Sets,Teaching week pattern
2,Mayo Campus,t,ENVI07011-Nursing Learning to Learn-Nursing S...,ENVI07011-Nursing Learning to Learn-Nursing G,32,ENVI07011,ENVI07011 LEARNING AND INNOVATION SKILLS (Nurs...,2,MY__N_2 abc,7,"Carr, Isaac",OL,MY_SR_AnyAll+art,NaN,NURS_GA_SGENC_H080100 A/NURS_GA_SGENC_H080100 ...,0000000000000000000011111110000000000000000000...
4,Mayo Campus,t,LAWL08017 Building and Managing Interpersonal ...,LAWL08017 Building and Managing Interpersonal ...,0,LAWL08017,LAWL08017 Building and Managing Interpersonal ...,3,MY_a sem1,12,"Jones, James",OL,NaN,NaN,MY_SP_DIGI 1,0000111111111111000000000000000000000000000000...

### make new columns
any thing you can do with numpy you can do with PANDAS series
eg multiply two columns

In [12]:
df['total_hours'] = df['Duration'] * df['Number of Weeks']
df.head(3)

,Department,Scheduled?,Name on sys,Name,Size,Module ID,Module,Duration,Named Availability,Number of Weeks,Staff (delimited),Name of Type,Location Suitabilities,Locations,Student Sets,Teaching week pattern,total_hours
0,Mayo Campus,t,NURS06061 (General) and NURS06057 (Psych) Pra...,NURS06061 (General) and NURS06057 (Psych) Pra...,40,NURS06061 (General) and NURS06057 (Psych),NURS06061 (General) and NURS06057 (Psych) Inte...,4,MY_Week24 N2bii,1,"MacLeod, Julia",P,MY_SR_Any-Flat,NaN,NaN,0000000000000000000000010000000000000000000000...,4
2,Mayo Campus,t,ENVI07011-Nursing Learning to Learn-Nursing S...,ENVI07011-Nursing Learning to Learn-Nursing G,32,ENVI07011,ENVI07011 LEARNING AND INNOVATION SKILLS (Nurs...,2,MY__N_2 abc,7,"Carr, Isaac",OL,MY_SR_AnyAll+art,NaN,NURS_GA_SGENC_H080100 A/NURS_GA_SGENC_H080100 ...,0000000000000000000011111110000000000000000000...,14
4,Mayo Campus,t,LAWL08017 Building and Managing Interpersonal ...,LAWL08017 Building and Managing Interpersonal ...,0,LAWL08017,LAWL08017 Building and Managing Interpersonal ...,3,MY_a sem1,12,"Jones, James",OL,NaN,NaN,MY_SP_DIGI 1,0000111111111111000000000000000000000000000000...,36

In [13]:
people_df = pd.read_csv(people_filename)
people_df.head(3)

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
0,1,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,1945-10-26,Games developer
1,2,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,1910-03-24,Phytotherapist
2,3,DbeAb8CcdfeFC2c,Kristine,Travis,Male,bthompson@example.com,277.609.7938,1992-07-02,Homeopath

to get the email domains

In [14]:
people_df['domain'] = people_df['Email'].str.split('@').str[1]
people_df.head(3)

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title,domain
0,1,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,1945-10-26,Games developer,example.net
1,2,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,1910-03-24,Phytotherapist,example.com
2,3,DbeAb8CcdfeFC2c,Kristine,Travis,Male,bthompson@example.com,277.609.7938,1992-07-02,Homeopath,example.com

How would you make a pie chart for the email domains